@page "/leaderboard"
@using Newtonsoft.Json
@rendermode InteractiveServer 


<BSContainer class="content pb-5">
    <RadzenCard>

    <RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" class="rz-p-4 rz-mb-6 rz-border-radius-1" Style="border: var(--rz-grid-cell-border);">
        <RadzenLabel Text="Turnering:" Component="DropDownBindValue" />
        <RadzenDropDown Style="width: 100%; max-width: 200px;" TValue="int" @bind-Value="tournamentId" Placeholder="Vælg turnering" 
                AllowFiltering="true" Data="@(tournaments)" TextProperty="@nameof(TournamentModel.TournamentName)" 
                ValueProperty="@nameof(TournamentModel.TournamentId)" Name="DropDownBindValue"
                Change="() => ChangeActive()" />
    </RadzenStack>

@if (matches == null)
{
    <p>Henter ...</p>
}
else
{
    <RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client">
        <Tabs>
            <RadzenTabsItem Text="Par 3">
                <RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client">
                    <Tabs>
                        @foreach (var match in matches)
                        {
                            <RadzenTabsItem Text="@match.CourseName">
                                <RadzenDataGrid ColumnWidth="50px" Data="@par3s.Where(m => m.MatchId == match.MatchId)" TItem="MatchResultViewModel">
                                    <Columns>
                                        <RadzenDataGridColumn Property="@nameof(MatchResultViewModel.PlayerName)" Title="Spiller" MinWidth="150px">
                                            <Template Context="data">
                                                @data.PlayerName
                                                @for (int i = 0; i < data.Championships; i++)
                                                {
                                                <RadzenImage Path="images/trophy.jpg" Style="height:1rem;" />
                                                }
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn Property="@nameof(MatchResultViewModel.Par3)" Title="Par 3" TextAlign="TextAlign.Center" />
                                        <RadzenDataGridColumn Property="@nameof(MatchResultViewModel.Par3Price)" Title="Dkr" TextAlign="TextAlign.Center" FormatString="{0:0}" />
                                    </Columns>
                                </RadzenDataGrid>
                            </RadzenTabsItem>
                        }
                    </Tabs>
                </RadzenTabs>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Birdies">
                <RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client">
                    <Tabs>
                        @foreach (var match in matches)
                        {
                            <RadzenTabsItem Text="@match.CourseName">
                                <RadzenDataGrid ColumnWidth="50px" Data="@birdies.Where(m => m.MatchId == match.MatchId)" TItem="MatchResultViewModel">
                                    <Columns>
                                        <RadzenDataGridColumn Property="@nameof(MatchResultViewModel.PlayerName)" Title="Spiller" MinWidth="150px">
                                            <Template Context="data">
                                                @data.PlayerName
                                                @for (int i = 0; i < data.Championships; i++)
                                                {
                                                <RadzenImage Path="images/trophy.jpg" Style="height:1rem;" />
                                                }
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn Property="@nameof(MatchResultViewModel.Birdies)" Title="Birdies" TextAlign="TextAlign.Center" />
                                        <RadzenDataGridColumn Property="@nameof(MatchResultViewModel.BirdiePrice)" Title="Dkr" TextAlign="TextAlign.Center" FormatString="{0:0}" />
                                    </Columns>
                                </RadzenDataGrid>
                            </RadzenTabsItem>
                        }
                    </Tabs>
                </RadzenTabs>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Scores">
                <RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client">
                    <Tabs>
                        @foreach (var match in matches)
                        {
                            <RadzenTabsItem Text="@match.CourseName">
                                <RadzenDataGrid ColumnWidth="50px" Data="@scores.Where(m => m.MatchId == match.MatchId)" TItem="MatchResultViewModel">
                                    <Columns>
                                        <RadzenDataGridColumn Property="@nameof(MatchResultViewModel.PlayerName)" Title="Spiller" MinWidth="150px">
                                            <Template Context="data">
                                                @data.PlayerName
                                                @for (int i = 0; i < data.Championships; i++)
                                                {
                                                <RadzenImage Path="images/trophy.jpg" Style="height:1rem;" />
                                                }
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn Property="@nameof(MatchResultViewModel.Score)" Title="Brutto" TextAlign="TextAlign.Center" />
                                        <RadzenDataGridColumn Property="@nameof(MatchResultViewModel.Hcp)" Title="ATS" TextAlign="TextAlign.Center" />
                                        <RadzenDataGridColumn Property="@nameof(MatchResultViewModel.Netto)" Title="Netto" TextAlign="TextAlign.Center" />
                                        <RadzenDataGridColumn Property="@nameof(MatchResultViewModel.ScorePrice)" Title="Dkr" TextAlign="TextAlign.Center" FormatString="{0:0}" />
                                    </Columns>
                                </RadzenDataGrid>
                            </RadzenTabsItem>
                        }
                    </Tabs>
                </RadzenTabs>
            </RadzenTabsItem>

            <RadzenTabsItem Text="Gryn">
                <RadzenTabs TabPosition="TabPosition.Top" RenderMode="TabRenderMode.Client">
                    <Tabs>
                        @foreach (var match in matches)
                        {
                            <RadzenTabsItem Text="@match.CourseName">
                                <RadzenDataGrid ColumnWidth="50px" Data="@prices.Where(m => m.MatchId == match.MatchId)" TItem="MatchResultViewModel">
                                    <Columns>
                                        <RadzenDataGridColumn Property="@nameof(MatchResultViewModel.PlayerName)" Title="Spiller" MinWidth="150px">
                                            <Template Context="data">
                                                @data.PlayerName
                                                @for (int i = 0; i < data.Championships; i++)
                                                {
                                                <RadzenImage Path="images/trophy.jpg" Style="height:1rem;" />
                                                }
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn Property="@nameof(MatchResultViewModel.TotalPrice)" Title="Kr." TextAlign="TextAlign.Center" FormatString="{0:0}" />
                                    </Columns>
                                </RadzenDataGrid>
                            </RadzenTabsItem>
                        }
                    </Tabs>
                </RadzenTabs>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
}
    </RadzenCard>
</BSContainer>

@code {

    [Parameter]
    public int MatchId { get; set; }

    [Inject] private IRepository _repo { get; set; }

    public IEnumerable<MatchResultViewModel> scores { get; set; }
    public IEnumerable<MatchResultViewModel> birdies { get; set; }
    public IEnumerable<MatchResultViewModel> par3s { get; set; }
    public IEnumerable<MatchResultViewModel> prices { get; set; }
    public IEnumerable<MatchHeader> matches { get; set; }

    public int tournamentId { get; set; } = -1;
    public IEnumerable<TournamentModel> tournaments { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        tournaments = await _repo.GetTournaments();
        tournamentId = tournaments.Where(x => x.Active == true).Select(x => x.TournamentId).SingleOrDefault();
        await LoadResultsAsync();
    }

    protected async Task LoadResultsAsync()
    {
        if (tournamentId < 0)
        {
            return;
        }

        var results = await _repo.TournamentResult(tournamentId);
        if (results != null)
        {
            scores = results.OrderBy(m => m.Netto).ThenBy(m => m.HcpIndex);
            birdies = results.OrderByDescending(m => m.Birdies).ThenBy(m => m.HcpIndex);
            par3s = results.OrderBy(m => m.Par3).ThenBy(m => m.HcpIndex);
            prices = results.OrderByDescending(m => m.Price).ThenBy(m => m.HcpIndex);
            matches = results
                .GroupBy(m => new { m.MatchDate, m.CourseName })
                .OrderBy(g => g.Min(m => m.MatchRank))
                .Select(g => new MatchHeader
                    {
                        MatchId = g.First().MatchId,
                        MatchDate = g.Key.MatchDate,
                        CourseName = g.Key.CourseName
                    })
                    .OrderBy(m => m.MatchDate).ToList();
        }
        StateHasChanged();
    }

    async Task ChangeActive()
    {
        await LoadResultsAsync();
    }
}
